@font-face {
  font-family: TitleFonts;
  src: url(https://raw.githubusercontent.com/Matthew-Hamilton/Matthew-Hamilton.github.io/master/Assets/Phrasme_.ttf);
}

* {
    padding: 0;
    margin:0;
    border: 0;
}
html{
}
body{
    background-color: black;
    overflow: hidden;
}

a{
    height: 100%;
    width: 100%;
    text-decoration: none;
}

div{
    user-select: none;
}

#myContainer{
    width: 100vw;
    height: 100vh;
    /*background-image: url(https://raw.githubusercontent.com/Matthew-Hamilton/Matthew-Hamilton.github.io/master/Assets/SplashScreen.png);*/
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    /**/
}

header{
    background-color: #f4f4f4;
    width:100%;
    height: 5vh;
    max-height: 5vh;
    box-shadow: 0 5px 0 0 rgb(0,0,0,0.2);
}

.Logo{
    height: 5vh;
    width: 5vh;
    float: left;
    background-image: url(https://raw.githubusercontent.com/Matthew-Hamilton/Matthew-Hamilton.github.io/master/Assets/LogoDesign.png);
    background-size: contain;
    
}

.MenuButton{
    user-select: none;
    font-family:TitleFonts; 
    color: #767676;
    font-size: 2vh;
    padding-top: 1.5vh;
    height: 3.5vh;
    max-height: 5vh;
    text-align: center;
    float: right;
    width: 20vw;
}

.MenuButton:hover
{
    color: #40a1b1;
}

.DropDown{
    float: right;
    position: relative;
    display: inline-block;
    max-height: 15vh;
}

.DropDownContent{
    display: none;
    border-top: none;
    border-radius: 0 0 1vw 1vw;
    height: 10vh;
    top: 5vh;
    position: absolute;
    z-index: 1;
    background-color: #f4f4f4;
    box-shadow: 0 5px 0 0 rgb(0,0,0,0.2);
}

.DropDownContent .DroppedDownContent{
    display: block;
}

.DropDown:hover .DropDownContent{
    display: block;
}


.MainContent{
    position: relative;
    background-color: #767676;
    height: 80vh;
    width: 70vw;
    left: 15vw;
    z-index: 0;
    border-radius: 0 0 10px 10px;
}

.PersonalHeader{
    position: relative;
    width:80vw;
    height: 15vh;
    right: 5vw;
    top: 5vh;
}


#MyPhoto{
    position: absolute;
    height: 10vw;
    width: 10vw;
    background-color: White;
    border-radius: 50%;
    border: 5px solid white;
    top:calc(1/10vw);
    z-index: 100;
    left: 1.5%;
    background-image: url(https://raw.githubusercontent.com/Matthew-Hamilton/Matthew-Hamilton.github.io/master/Assets/Profile.jpg);
    background-size: contain;
    box-shadow: 0 5px 0 0 rgb(0,0,0,0.2);
}
#ColourStrip{
    font-family: TitleFonts;
    font-size: 6vh;
    text-align: center;
    padding-top: 0.6vh;
    color: #40a1b1;
    position: absolute;
    max-height: 50%;
    width: 100%;
    top: 25%;
    background-color: #f4f4f4;
    box-shadow: 0 5px 0 0 rgb(0,0,0,0.2);
    border-radius: 5px;
}

